* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.containerGrid {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  background-image: url(/assets/img/imagen/1237oki.jpeg); }

main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr); }
  main .tituloh2 {
    grid-area: main;
    grid-column: 1/3;
    grid-row: 2 /2;
    justify-items: right;
    align-self: center;
    color: #f87800;
    position: relative;
    left: 28%;
    font-style: italic;
    font-size: 180%; }
  main .marcaAgua {
    grid-area: main;
    grid-column: 1/4;
    grid-row: 1/1;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-self: center; }
  main .encabezadosPage {
    grid-area: main;
    color: black;
    font-size: 250%;
    justify-content: center;
    grid-area: main;
    grid-column: 2/2;
    grid-row: 1 /1;
    justify-content: center;
    align-items: center;
    margin: 10px; }
  main .encabezadosPage {
    -webkit-animation: focus-in-expand-fwd 2s cubic-bezier(0.2, 0.46, 0.45, 0.94) both;
    animation: focus-in-expand-fwd 2s cubic-bezier(0.2, 0.46, 0.45, 0.94) both; }
  main .parrafosGral {
    font-style: italic;
    font-size: 130%;
    color: black;
    display: grid;
    grid-area: main;
    grid-column: 2/3;
    grid-row: 1/3;
    margin-left: 5%;
    justify-content: right;
    align-items: flex-start; }

header {
  color: #f7cf9f;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  flex-wrap: nowrap; }

.barraNav {
  display: flex;
  justify-content: right;
  align-items: center;
  list-style: none;
  gap: 30px;
  font-size: 2, 5rem;
  margin: 50px; }
  .barraNav li a {
    list-style: none;
    text-decoration: none;
    color: #050505;
    font-size: 150%; }
    .barraNav li a :hover {
      color: antiquewhite; }

header {
  display: grid;
  grid-area: header;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  list-style: none;
  grid-column: 1/3;
  grid-row: 1/1; }

.servicios {
  display: inline-block;
  list-style: none;
  margin: 10px;
  padding: 10px;
  border: 10px; }

.contacto {
  margin: 5%;
  padding: 2%;
  border: 10%; }

.listaCliente {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  justify-content: center; }

.fotoNosotros {
  display: grid;
  grid-area: main;
  grid-column: 1/1;
  grid-row: 1/3;
  justify-content: center;
  align-content: center;
  margin-top: 10px; }

footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  background-image: url(../assets/img/imagen/SL_060521_43530_09.jpg);
  color: #0f0e0e;
  background-size: 100% auto;
  bottom: 0;
  color: #0f0e0e;
  background-size: 100% auto;
  min-width: none; }

.redes-sociales {
  display: flex;
  justify-content: center;
  font-size: 30px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1; }

.copy {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  display: flex;
  justify-content: center; }

h4 {
  margin-top: 10px;
  margin: 20px;
  border: 10px;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  color: white;
  font-style: oblique; }

.boton-face {
  color: white;
  padding: 10px;
  margin: 15px; }

.boton-ig {
  color: white;
  padding: 10px;
  margin: 15px; }

.boton-linkedin {
  color: white;
  padding: 10px;
  margin: 15px; }

.boton-whatsapp {
  color: white;
  padding: 10px;
  margin: 15px; }

@-webkit-keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
    transform: translateZ(-800px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

@keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
    transform: translateZ(-800px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

@media (max-width: 576px) {
  .containerGrid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "header " "main" "footer "; }
  header {
    grid-area: header;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr; }
    header img {
      grid-column: 1 /1;
      grid-row: 1 / 1;
      height: 100px;
      max-width: 480px; }
    header .barraNav {
      flex-direction: column;
      align-items: flex-end;
      background: unset; }
  main {
    grid-area: main;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); }
    main .tituloh2 {
      grid-area: main;
      grid-column: 1/2;
      grid-row: 1/1;
      font-size: small; }
    main .marcaAgua {
      box-sizing: content-box;
      max-width: 480px; }
  footer {
    grid-area: footer;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr; }
    footer .redes-sociales {
      grid-column: 1/2;
      grid-row: 2/2; }
      footer .redes-sociales h4 {
        grid-column: 1/1;
        grid-row: 1/1; } }

@media (max-width: 768px) {
  .containerGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "header header" "main main " "footer footer"; }
  header img {
    grid-column: 1 /1;
    grid-row: 1 / 1;
    height: 100px;
    width: 100px; }
  .barraNav {
    grid-column: 2 /3;
    grid-row: 1 / 1;
    font-size: small;
    gap: 5%;
    margin-right: 10%; }
  main {
    grid-area: main;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); }
    main .tituloh2 {
      grid-area: main;
      grid-column: 1/2;
      grid-row: 2 /2;
      left: 0%;
      font-size: small;
      align-content: center;
      justify-content: center; }
    main img {
      grid-area: main;
      grid-column: 1/1;
      grid-row: 1 /1;
      max-width: 768px; }
  .encabezadosPage {
    grid-area: main;
    grid-column: 1/2;
    grid-row: 1 /1; }
  .parrafosGral {
    grid-area: main;
    grid-column: 1/2;
    grid-row: 2/2;
    margin-left: 5%; } }
