footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    background-image: url(../assets/img/imagen/SL_060521_43530_09.jpg);
    color: rgb(15, 14, 14);
    background-size: 100% auto;
    bottom: 0;
    color: rgb(15, 14, 14);
    background-size: 100% auto;
    min-width: none;
}

.redes-sociales {
    display: flex;
    justify-content: center;
    font-size: 30px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
}

.copy {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    display: flex;
    justify-content: center;

}

h4 {
    margin-top: 10px;
    margin: 20px;
    border: 10px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    color: white;
    font-style: oblique;
}

.boton-face {
    color: white;
    padding: 10px;
    margin: 15px;
}

.boton-ig {
    color: white;
    padding: 10px;
    margin: 15px;
}

.boton-linkedin {
    color: white;
    padding: 10px;
    margin: 15px;
}

.boton-whatsapp {
    color: white;
    padding: 10px;
    margin: 15px;
}