@media (max-width: 768px) {
    .containerGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "header header"
            "main main "
            "main main "
            "main main "
            "footer footer";
    }

    header img {
        grid-column: 1 /1;
        grid-row: 1 / 1;
        height: 100px;
        width: 100px;
    }

    .barraNav {
        grid-column: 2 /3;
        grid-row: 1 / 1;
        font-size: small;
        gap: 5%;
        margin-right: 10%;

    }

    main {
        grid-area: main;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);}


        .tituloh2 {
            grid-area: main;
            grid-column: 1/2;
            grid-row: 2 /2;
            font-size: small;
            position: absolute;
               }

        .encabezadosPage {
            grid-area: main;
            grid-column: 1/2;
            grid-row: 1 /1;
        }

        @media screen and (min-width: 600px) {
            .ocultar-.marcaAgua{
            display:none;
            }
            }

        .contacto2 {
            grid-area: main;
            grid-column: 1/2;
            grid-row: 2/2;

        }

        .contacto {
            grid-area: main;
            grid-column: 1/2;
            grid-row: 1/1;
        }

        .fotoNosotros {
            max-width: 768px;
            grid-area: main;
            grid-column: 1/2;
            grid-row: 2/2;
            margin-top: 0%;
        }

        h3 {
            grid-area: main;
            grid-column: 1/2;
            grid-row: 2/2;
            margin: 0%;

        }

        .marcaAgua {
            max-width: 768px;
            
        }

    }