@media (max-width: 576px) {
    .containerGrid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "header "
            "main"
            "footer "
    }

    header {
        grid-area: header;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;

        img {
            grid-column: 1 /1;
            grid-row: 1 / 1;
            height: 100px;
            max-width: 480px;}
        

    .barraNav {
        flex-direction: column;
        align-items: flex-end;
        background: unset;
    }}

main {
    grid-area: main;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

.tituloh2 {
    display: flex;
    flex-direction: row;
    grid-area: main;
    grid-column: 1/2; 
        grid-row: 2/2;
        font-size: small;
    
        }


    .contacto2 {
        grid-area: main;
        grid-column: 1/2;
        grid-row: 2/2;

    }

    .contacto {
        grid-area: main;
        grid-column: 1/2;
        grid-row: 1/1;
    }

    .fotoNosotros {
        display: flex;
        flex-direction: column;
    text-align: center;}

.parrafosGral{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    .encabezadosPage{
        display: flex;
    flex-direction: column;
    }

.marcaAgua{
    display: flex;
    max-width: 576px;
    width: 100px;
    height: 100px;
}
}
    }

footer {
    grid-area: footer;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    .redes-sociales{
        grid-column: 1/2;
        grid-row: 2/2;
     h4{grid-column: 1/1;
        grid-row: 1/1; }   
    }
}
}