@media (max-width: 576px) {
    .containerGrid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "header "
            "main"
            "footer "
    }

    header {
        grid-area: header;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;

        img {
            grid-column: 1 /1;
            grid-row: 1 / 1;
            height: 100px;
            max-width: 480px;}
        

    .barraNav {
        flex-direction: column;
        align-items: flex-end;
        background: unset;
    }}

main {
    grid-area: main;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

.tituloh2 {grid-area: main;
    grid-column: 1/2; 
        grid-row: 1/1;
        font-size: small;
        }
    
.marcaAgua{
    box-sizing: content-box;
    max-width: 480px; 
}}


footer {
    grid-area: footer;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    .redes-sociales{
        grid-column: 1/2;
        grid-row: 2/2;
     h4{grid-column: 1/1;
        grid-row: 1/1;

     }   
    }}}